[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm
[submodule "external/ecs.hpp"]
	path = external/ecs.hpp
	url = https://github.com/BlackMATov/ecs.hpp
[submodule "external/miniaudio"]
	path = external/miniaudio
	url = https://github.com/mackron/miniaudio
